.UserInfo {
    width: 100%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}
    
.UserHeader {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.User {
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.EditButton {
    margin-top: 10px;
}

.GoBack {
    float: left;
}
