.PersonList {
    width: 100%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
    
.ListHeader {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

fieldset {
    margin-top: 5px;
}

.Person {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.PeopleBox  ul{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.PeopleBox li {
    display: inline-block;
    margin-left: 15px;
    cursor: grab;
}

.PeopleBox .break a {
    cursor: default;
}