.NewUser {
  width: 100%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}
  
.UserHeader {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

label {
  display: inline-block;
  font-size: .9rem;
  width: 35%;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 60%;
}

.GoBack {
  float: left;
}

select {
  width: 60%;
  margin-bottom: 10px;
}

.Dropdown {
  display:inline-block
}

input:invalid:not(:focus) {
  outline: 1px solid #f00;
}